html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(to top left, #669999 0%, #66ccff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}
p.margin_sizing {
  margin-top: 10%;
}
.center {
  margin: auto;
  width: 30%;
  border: none;
  padding: 10px;
}
.center2 {
  margin: auto;
  width: 28%;
  border: none;
  padding: 10px;
}
p.center{
  text-align: center;
}
img.cen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #505356;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  /* color: #000000; */
  color: #24a0ed;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.modal {
  background: rgba(000, 000, 000, 0.8);
  min-height:1000000px;
}
