{% extends "pulse_search/base.html" %}
{% load static %}
{% block content %}
<p class = "center" style = "font-family:allerta; font-size:26px;">
  <img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto"><br><p>
  <div class="mx-auto" style="width:50%">
  <p style = "font-family:allerta; font-size:26px;">
  <font color="505356">
    At Pulse we believe that social media has become the ultimate marketing tool and we are here
    to make accessing that data <strong>faster</strong> and <strong>easier</strong>. With one simple
    search, you are able to see recent results from top social media platforms such as Twitter,
    Reddit and YouTube. We even analyize post for you! <strong>Demystifying the chaos of public opion has
    never been easier than with Pulse.</strong>
    </font></p>
</div>
<img src="http://127.0.0.1:8000/media/about_pulse_graphic.png" alt="machine learning graphic" width="600" class="cen">
{% endblock content %}
