{% extends "pulse_search/base.html" %}
{% load static %}
{% block content %}

<!-- <p class = "center" style = "font-family:allerta; font-size:26px;">
  <img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto"><br><p>
  <div class="mx-auto" style="width:50%">
  <p style = "font-family:allerta; font-size:26px;">
  <font color="505356">
    At Pulse we believe that social media has become the ultimate marketing tool and we are here
    to make accessing that data faster and easier. We were inspired by the look into the collective
    consciousness that social media can provide and Pulse was established  with a goal of harnessing
    and organizing the information posted across social media platforms. This service was brought
    to you with help from the following:
</div>
<img src="http://127.0.0.1:8000/media/about_pulse_graphic.png" alt="machine learning graphic" width="600" class="cen"> -->
<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- pulse logo -->
      <img src={% static "images/logo.png" %} alt="pulse logo" width="330" height="auto">
    </div>
    <div class="col-8">
      <!-- pulse text -->
      <p style = "font-size:18px;">
        <font color="505356">
          At Pulse we believe that social media has become the ultimate marketing tool and we are here
          to make accessing that data faster and easier. We were inspired by the look into the collective
          consciousness that social media can provide and Pulse was established  with a goal of harnessing
          and organizing the information posted across social media platforms. This service was brought
          to you with help from the following:
        </font>
      </p>
    </div>
  </div>
  <!-- logos next two rows -->
  <!-- row two -->
  <div class="row">
    <div class="col">
      <img src={% static "pulse_search/images/youtube_logo.png" %} alt="youtube logo" width="auto" height="190">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/reddit_logo.png" %} alt="reddit logo" width="auto" height="140">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/twitter_logo3.png" %} alt="twitter logo" width="auto" height="150">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/chartjs-logo.svg" %} alt="chart js logo" width="auto" height="150">
    </div>
  </div>
  <!-- row three -->
  <div class="row">
    <div class="col">
      <img src={% static "pulse_search/images/django_logo.png" %} alt="django logo" width="auto" height="150">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/heroku_logo.png" %} alt="heroku logo" width="auto" height="150">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/textblob_logo.png" %} alt="textblob logo" width="auto" height="170">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/github_logo.png" %} alt="github logo" width="auto" height="150">
    </div>
  </div>
  <!-- row four -->
  <div class="row">
    <div class="col">
      <br>
      <img src={% static "pulse_search/images/tweepy_logo2.png" %} alt="tweepy logo" width="175" height="auto">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/bootstrap_logo.png" %} alt="bootstrap logo" width="auto" height="150">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/apple_logo.png" %} alt="apple logo" width="165" height="auto">
    </div>
    <div class="col">
      <img src={% static "pulse_search/images/travisci_logo.png" %} alt="apple logo" width="165" height="auto">
    </div>
  </div>
  <!-- row five -->
  <div class="row">
    <div class="col">
      <br>
      <img src={% static "pulse_search/images/gitkraken_glo_logo.png" %} alt="gitkraken glo logo" width="175" height="auto">
    </div>
    <div class="col">
      <br>
      <img src={% static "pulse_search/images/heroku_postgresql_logo.png" %} alt="heroku postgresql logo" width="auto" height="150">
    </div>
    <div class="col">
      <br>
      <img src={% static "pulse_search/images/pipenv_logo.png" %} alt="pipenv logo" width="auto" height="150">
    </div>
  </div>

</div>
{% endblock content %}
