{% extends "pulse_search/base.html" %}
{% load static %}
{% block content %}
  <title>Pulse</title>
  <script>
    function clicked(){
      window.location.href = "{% url 'pulse-results' %}"
    }
  </script>
          <p class="margin_sizing"></p>
            <div class="mx-auto" style="width:98%">
              <!-- <div class="center"> -->
              <p class = "center">
              <img src={% static "images/logo.png" %} alt="pulse logo" width="400" height="auto"> </p>
                <div class="row">

                  {% if user.is_authenticated %}
                  <div class="mx-auto" style="width:30%">
                  <form class="form-inline" action="" method="POST">
                      {% csrf_token %}
                      <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" placeholder="let's explore" size="40" name="searchTerm"/> </div>
                      <input type="submit" class="btn btn-primary mb-2" value="Search"/>
                  </form>

                  </div>
                  {% else %}
                  <p class = "center" style = "font-size:20px;">
                    <font color="505356">
                      please <a href="{% url 'login' %}" style="color:black">sign in</a> to begin a search
                      or learn more about our service on our <a href="{% url 'pulse-about' %}" style="color:black">about pulse</a> page.
                    </font>
                  </p>

                  {% endif %}

                  </div>
                <!-- </div> -->
              </div>
{% endblock content %}
