{% extends "pulse_search/base.html" %}
{% block content %}
  <title>Pulse</title>
  <script>
    function clicked(){
      window.location.href = "{% url 'pulse-results' %}"
    }
  </script>
          <p class="margin_sizing"></p>
            <div class="mx-auto" style="width:85%">
              <div class="center"><img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="400" height="auto">
                <div class="row">
                  <div class="form-group mx-sm-3 mb-2">
                    <label for="searchTerm" class="sr-only">searchTerm</label>
                    <input type="search" class="form-control" id="searchTerm" placeholder="Let's explore" width="70">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-2" onclick="clicked()">Search</button>
                  </div>
                </div>
              </div>
            </div>
{% endblock content %}
