{% extends "pulse_search/base.html" %}
{% block content %}
<!-- centering -->
            <!-- <p class="margin_sizing"></p> -->
                <!-- <div class="center"> -->
                <title>Pulse Team</title>
              <div class="mx-auto" style="width:98%">
                <!-- <div class="mx-auto" style="width:20%"><img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto"></div> -->
                <p class="h4 mb-4 text-center">
                  <img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto">
                </p>
                <p class="h4 mb-4 text-center" style = "font-family:allerta; font-size:26px;">
                   <font color="505356">meet the crew</font>
                </p>
                <!-- <div class="center"><img src="images/logo.png" alt="pulse logo" width="300" height="auto"> -->
                <!-- <div class="mx-auto" style="width:10%">
                  <p style = "font-family:allerta; font-size:26px;">
                     <font color="505356">meet the crew</font>
                  </p></div> -->
                  <!-- -->
                  <div class="row">
                  <div class="col-lg-3">
                    <!-- Card #1 -->
                    <div class="card card-cascade">
                          <!-- Card image -->
                          <div class="view view-cascade overlay">
                            <img class="card-img-top" src="http://127.0.0.1:8000/media/rhett.png" alt="Card image cap">
                            <a>
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!-- Card content-->
                          <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h4 class="card-title"><strong>Rhett Hanscom</strong></h4>
                            <!-- Subtitle -->
                            <h6 class="font-weight-bold indigo-text py-2">Full Stack Developer</h6>
                            <!-- Text -->
                            <p class="card-text">
                              Computer Science student at CU Boulder with special enthusiasm for systems level computing and software development.
                            </p>
                            Find Me On:
                            <a href="https://twitter.com/notnotrhett" class="btn-floating btn-small btn-tw" role="button">Twitter</a> |
                            <a href="https://github.com/rhett1893" class="btn-floating btn-small btn-tw" role="button">GitHub</a>

                          </div>


                        </div>
                        <!-- /Card #1 -->
                  </div>

                  <div class="col-lg-3">
                    <!-- Card #2 -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/ctrl-alt-delete-3308/pulse/master/pulse_project/media/ryan.png" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Ryan Drew</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Backend Infrastructure Engineer</h6>
                        <!-- Text -->
                        <p class="card-text">
                          Also a Computer Science student a CU Boulder. Always on the ongoing pursuit for mastery, security and efficiency in the deployment of infrastructure and code.
                        </p>
                        <!-- GitHub -->
                        <a type="button" href="https://github.com/learnitall" class="btn-floating btn-small btn-fb"><i class="fab fa-github-f"></i>Find me on GitHub</a>

                      </div>

                    </div>
                    <!-- /Card #2 -->
                  </div>

                  <div class="col-lg-3">
                    <!-- Card #3 -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>

                      </div>

                    </div>
                    <!-- /Card #3 -->
                  </div>

                  <div class="col-lg-3">
                    <!-- Card #4 -->
                    <div class="card card-cascade">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>

                      </div>

                    </div>
                    <!-- /Card #4 -->
                  </div>
                  </div>
              </div>
{% endblock content %}
