{% extends "pulse_search/base.html" %}
{% block content %}

<title>Pulse Account</title>
<!-- centering -->
          <!-- centering -->
          <div class="mx-auto" style="width:60%">
            <!-- centering logo -->
            <div class="mx-auto" style="width:28%"><img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto"></div>
              <div class="mx-auto" style="width:21%">
              <p style = "font-family:allerta; font-size:26px;">
                 <font color="505356">account overview</font>
              </p></div>
                <!-- my account form-->
                <form class="border border-light p-5">
                  <p class="h4 mb-4 text-center">
                    <font color="505356">My Account</font>
                  </p>
                  <div class="mx-auto" style="width:60%">
                  <table class="table">
                    <tr>
                      <th>Email</th>
                      <td><span id="u_email"></span></td>
                    </tr>
                    <tr>
                      <th>First Name</th>
                      <td><span id="u_firstname"></span></td>
                    </tr>
                    <tr>
                      <th>Last Name</th>
                      <td><span id="u_lastname"></span> </td>
                    </tr>
                  </table>
                <!-- CREATE LIST OF RECENT SEARCHES -->
                </div>
                </form>

{% endblock content %}
