{% extends "pulse_search/base.html" %}
{% load static %}
{% block content %}
<title>Pulse Register</title>
<!-- centering -->
<link rel="stylesheet" type="text/css" href="{% static 'pulse_search/scroll_card.css' %}">
<div class="mx-auto" style="width:60%">
  <!-- centering logo -->
  <div class="mx-auto" style="width:28%"><img src="http://127.0.0.1:8000/media/logo.png" alt="pulse logo" width="300" height="auto">
    <p style = "font-family:allerta; font-size:26px;">
       <font color="505356">create an account with us</font>
    </p></div>
      <!-- create account form -->
      <form class="border border-light p-5">
        <p class="h4 mb-4 text-center">
          <!-- <p style = "font-family:allerta; font-size:26px;"> -->
          <font color="505356">sign up</font>
        </p>

        <input type="text" id="userFirstName" class="form-control" placeholder="first name">

        <input type="text" id="userLastName" class="form-control" placeholder="last name">

        <input type="email" id="userEmail" class="form-control mb-4" placeholder="email">

        <input type="password" id="userPassword" class="form-control" placeholder="password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <input type="password" id="userConfirmPassword" class="form-control" placeholder="confirm password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">minimum length of 8 characters. needs a number, symbol, uppercase and lowercase letter.</small>

        <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
        </div> -->
        <p><font color="505356"> by clicking <em>'sign up'</em> you agree to our <a href="https://elizabethwarren.com/" target="_blank">terms of service</a>

        <button class="btn btn-info my-4 btn-block" onclick="register()">sign up</button>
        <!-- <button onclick="register()">Click me</button> -->

      </form>
{% endblock content %}
